<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.6.1/clipboard.min.js"></script>    
    <script src="atc.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <style>
        .tablebox {
            height: 80vh;
            width: 100%;
        }
        .inputbox {
            height: 100%;
            width: 98%;
            resize: none;
        }
    </style>
</head>
<body>
<div id="app">
    <p style="display:inline; vertical-align:top">
        目标：<textarea v-model="target" cols="20" rows="5"></textarea>
        技能名转换：<textarea v-model="actionTranslateJson" cols="40" rows="5"></textarea>
        排除的技能名：<textarea v-model="excludeActions" cols="40" rows="5"></textarea>
    </p>
    <p>起始时间：<input type="text" v-model="startTime">是否自动合并读条技能：<input type="checkbox" v-model="isAutoCombine"></p>
    <table class="tablebox">
        <tr height="20px">
            <td>原文本：</td>
            <td>转换后：</td>
        </tr>
        <tr>
            <td>
                <textarea v-model="origin" class="inputbox"></textarea>
            </td>
            <td>
                <textarea v-bind:value="result" class="inputbox"></textarea>
            </td>
        </tr>
    </table>
</div>

<script>
    
    var app = new Vue({
        el: '#app',
        data: {
            origin: "",
            target: "",
            startTime: "",
            actionTranslateJson: "",
            excludeActions: "",
            isAutoCombine: false,
            },
        computed: {
            result: function(){
                return main(this.origin, this.target, this.startTime, this.isAutoCombine, this.actionTranslateJson, this.excludeActions);
            }
        }
    })

</script>

<button id="button">copy</button>
<script>var copy_url = new Clipboard('#button', {text: function() {return app.result ;}});</script>

</body>
</html>